.content_menu{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    
    
    &__dropdown_container,&__slider_container{
        width: 45%;
        height: auto;
        background-color: var(--main-theme-main-color);
        border-radius: 10px;
        box-shadow: var(--main-theme-box-shadow);
        padding: 5px 20px;

        &__header{
            color: var(--main-theme-light-text-color);
        }
    }    
}