.navbar{
    background-color: var(--main-theme-main-color);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    position: sticky;
    z-index: 1000;
    
    &__container{
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px;
        flex: 1;

        &__items{
            display: flex;
            list-style: none;
            text-align: center;
            padding-right: 1%;
        }
    }
}