.navbar{
    width: 250px;
    height: 100%;
    background-color: var(--main-theme-main-color);
    color: white;
    padding: 20px;
    box-shadow: var(--main-theme-box-shadow);
    z-index: 999;

    &__header{
        font-size: large;
        font-weight: 800;
    }

  }

.navbar_icon{
    display: none;
}
  @media (max-width: 768px) {
    .navbar{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100%;
        position: absolute;
        top: 50px;
        left: -110%;
        opacity: 0;
        transition: all 0.5s ease;

        &__header{
            color: var(--main-theme-accent-main-color);
        }

        &.active{
            background: #143c67;
            color: var(--main-theme-accent-main-color);
            left: 0px;
            opacity: 1;
        }

        &__item{
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0px;
        }
    }
  
    .navbar_icon{
        display: block;
        cursor: pointer;
        height: 50px;
        color: var(--main-theme-accent-main-color);
        padding-right: 20px;
        margin: 2% 0% 0% 2%;
        z-index: 1000;
    }
    
  }