.App {
  background-color: var(--main-theme-background-color);
  height: 100vh;

  &__main-page-content{
    padding: 20px;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards; /* 1s for fade-in duration */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}