.App {
  background-color: var(--main-theme-background-color);
  display: flex;
  height: 100vh;

  &__main-page-content{
    flex: 1;
    padding: 20px;
  }

  .selectorContainer{
    width: 500px;
  }

}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}