:root {

  --main-theme-background-color-compliment: #ff9f1c;
  --main-theme-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  //DARK THEME
  --main-theme-background-color: #022d5b;
  --main-theme-main-color: #143c67;
  --main-theme-light-text-color: #f4f7fa;
  --main-theme-alt-text-color: #022d5b;

  --highlighter: rgba(255, 255, 255, 0.2);
  
  font-family: "Barlow", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-theme{
  --main-theme-background-color: #EFEFEF;
  --main-theme-main-color: #FAFAFA;
  --main-theme-light-text-color: #022d5b;
  --main-theme-alt-text-color: #f4f7fa;
  --highlighter: rgba(0, 0, 0, 0.2);
}
  
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
  color: var(--main-theme-light-text-color);
  background-color: var(--main-theme-background-color);
}